/*  needed fonts */

@font-face {
  font-family: 'bootstrap_font';
  src: url('./glyphicons-halflings-regular.woff2') format('woff2'),
         url('./glyphicons-halflings-regular.woff') format('woff'),
         url('./glyphicons-halflings-regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

.glyphicon-chevron-left:before {
    content: "\e079"

}
.glyphicon-chevron-right:before {
    content: "\e080"
}

.glyphicon-chevron-left{

    left: auto
}

.glyphicon-chevron-right {
    /* right: -1em; */
    /* for some reason the right css attribute is not functioning properly in mozilla, I will continue to reformat and see what we can do */
    /* it seems you have to use embed -CSS In react */



}

.glyphicon {
    position: absolute;

    display: inline-block;
    font-family: 'bootstrap_font';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size:5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* universal */
          body{
            /* overflow-x: hidden; */
          }



/*home page             */

            #index.title{
                font-style:arial;
                color:red
            }

            #index.carousel{
                height:80%;
                width:100%;
                position:absolute;
            }
